.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 1rem;
}

.navBg {
  background: skyblue;
  color: #000;
}

.navItems {
  display: flex;
  gap: 1rem;
}
